body {
	font-family: Verdana, sans-serif;
	font-size: small;
	background-color: #474747;
        color: white;
}

.p5 {
    padding: 5px;
}
input {
	font-size: small;
}

.cBoth {
	clear: both;
}

.cRight {
	float: right;
	text-align: right;
}

.cLeft {
	float: left;
	color: #999;
}

#container {
	width: 930px;
	margin: auto;
	/*background-color:  #999;*/
	color: black;
	/*border: 1px solid red;*/
}

#container2 {
	width: 100%;
	font-size: .1em;
}

#top {
	/*nothing special just yet*/
	/*border:1px black solid;*/
	width: 900px;
	margin: auto;
}

.top_search {
	display:inline;
	float: right;
	padding:10px;
}

.top_left {
	padding-top: 16px;
	padding-left: 20px;
	float: left;
}

.top_left a {
	color: black;
	text-decoration: none;
}

.information {
	float: right;
	width: 200px;
	margin-bottom: 10px;
        color: black;
}

.information_top {
	background-color: #999;
	font-weight: bold;
	color: white;
	padding: 3px;
}

.information_bottom {
	border: 1px solid #ccc;
	margin: 0px auto 0px auto;
	padding: 3px;
	background-color: white;
}

.issue {
	width: 600px;
}

.issue a {
	color: white;
	text-decoration: none;
}

.issue_top {
	background-color: #900;
	color: white;
	font-size: small;
	padding: 6px 3px 6px 3px;
	margin-top: -2px;
	margin-right: -2px;
	margin-left: -2px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
}

.issue_top a {
	color: white;
	text-decoration: none;
}

.issue_content {
	background: white;
	color: black;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	width: 588px;
	padding: 5px;
}

.comment_top {

	/*width: 594px;*/
	/*margin-left: 51px;*/
	margin-top: 10px;	
	margin-bottom: 0px;

}

.comment_top_data {
	background-color: #09f;
	color: white;
	font-size: small;
	padding: 3px;	
}

.comment_data {
	border: 1px solid #ccc;
	/*margin-left: 51px;*/
	margin-bottom: 5px;
	padding: 5px;
	width: 588px;
}

.comment_data textarea {
	width: 100%;
}

/*The Front Page*/

.fpType {
	width: 10%;
	float: left;
}

.fpBuild {
	width: 10%;
	float: right;
}

.fpDate {
	width: 20%;
	float: right;
}

.fpTitle {
	width: 40%;
	float: right;
	text-align: left;
}

.fpShortDesc {
	clear: both;
	padding: 5px;
}

.fpBoth {
	clear: both;
	padding-top: 10px;
	padding-bottom: 5px;
}

.whiteRow {
	clear: both;
	padding: 5px;
	background-color: white;
}

.grayRow {
	clear: both;
	background-color: #5599ff;
	padding: 5px;
}

/*end The Front Page*/

.results td {
	padding: 10px;
	border: 1px black solid;
	font-size: .8em;	
}

#loginBox {
	margin: auto;
	width: 60%;
	border: 1px black solid;
	padding: 10px;
}

#loginBox input {
	width:  100%;
}

.redCell {
	background-color: #900;
	color: white;
	padding: 5px;
}

.blueCell {
	background-color: #09f;
	color: white;
	padding: 5px;
}

.pm_new_issue input {
	width: 60%;
}

.pm_new_issue textarea {
	width: 60%;
}

.projects{
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
}

.project {
	padding: 10px;

}

.project1 {
	background-color: #cef;
	border-left: 1px solid black;
	border-right: 1px solid black;

}

.project0 {
	background-color: #aaa;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#install_container {
	width: 600px;
	margin: auto;
	text-align: center;
}

#install_table {
	text-align: left;
	width: 100%;
	border-spacing: 0;
}

#install_table input {
	width: 90%;
}

#install_table td {
	padding: 5px;
}

#install_title {
	padding: 15px;
	font-size: 300%;
	font-weight: bold;
}

/** Installer Cell Colors **/
.red {background-color: #900;}
.blue {background-color: #09f;}
.green {background-color: #3f3;}
.purple {background-color: #909;}
.black {background-color: black;}
/** END: Installer Cell Color **/

.history_top {
	background-color: #ccc;
	color:  white;
	padding: 5px;
}

.history {
	padding:  5px;
	border: 1px #ccc solid;
}

#histories {
	margin-top: 10px;
	width:650px;
	border:  1px gray solid;
	padding: 2px;
        display: none;
}

#comments_tabs {
	width:  650px;
}

#entry {
    width: 650px;
    padding: 2px;
    margin-bottom: 10px;
}

#tags {
	font-size: 90%;
	width: 240px;
}

#tags_list_table {
	font-size: 90%;
        color: #333;
}

/* jQueryUI Customization */
.ui-tabs .ui-tabs-nav{
    font-size: 90%;
    display: inline-block; width: 99%;	
}

.ui-widget-content {
    /*border: 5px solid #A6C9E2;*/
    border: 2px solid #aaa;
}

#main-page-table {
    padding: 10px;
    border-radius: 10px;
    background: #aaa;
}

#main-page-top {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid #aaa;
}

/** Text Emboss Test **/
.default-text {
    font-size: 3em;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    font-weight: bold;
}

#dt {
    font-size: 3em;
    color: #222;
    text-shadow: 0px 2px 3px #555;
    font-weight: bold;   
}

#dt a, #dt a:visited {
    text-decoration: none;
    color: #222;
}

.tektonsnow {
    font-family: 'Courier New', Courier, mono;
    color: #222;
}

.pyroturtle {
    font-family: Trebuchet, sans-serif;
    font-size: 2.6em;
    
}

.pt_green {
    color: #232;
}
.pt_red {
    color: #322;
}

/** darrgotek styles **/
.bodytext {
    font-size: 14px;
    font-family: Verdana, Geneva, Arial, sans-serif;
    background-color: transparent;
    text-align: center;
    margin-top: -35px;
    margin-left: -125px;
    position: absolute;
    top: 30%;
    left: 30%;
    color: white;
    margin: 0px;
}

.bodytext .headline {
    font-weight: bold;
    font-size: 24px
}

.bodytext a:link, .bodytext a:visited {
    color: #aaa;
    text-decoration: none
}

.bodytext a:hover {
    color: #06f;
    text-decoration: none
}

.bodytext #random_info {
    color: #222;
}

.strike {
    text-decoration: line-through;
}